In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('HDFCBANK.csv')
rows = df.head(10)

closeSeries = rows['Close']
closeSeries = list(closeSeries)
print(closeSeries)

# Converting the result into list

[170.0, 173.8, 166.95, 168.3, 168.35, 165.9, 163.4, 165.45, 165.1, 165.45]

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('HDFCBANK.csv')
rows = df.head(10)

# Convert the dataframe into pure dictionary, each column is key
rows = dict(rows)
print(rows['Close'])

0    170.00
1    173.80
2    166.95
3    168.30
4    168.35
5    165.90
6    163.40
7    165.45
8    165.10
9    165.45
Name: Close, dtype: float64

In [4]:
anotherDf = df.head(10)
for index, item in anotherDf.iterrows():
    print(item['Open'])

166.0
182.0
170.0
168.0
162.15
172.9
166.5
163.75
169.9
168.0

In [5]:
columns = df.columns
print(columns)
print(df.head(5))

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')
         Date    Symbol Series  Prev Close    Open    High     Low    Last  \
0  2000-01-03  HDFCBANK     EQ      157.40  166.00  170.00  166.00  170.00
1  2000-01-04  HDFCBANK     EQ      170.00  182.00  183.45  171.00  174.00
2  2000-01-05  HDFCBANK     EQ      173.80  170.00  173.90  165.00  168.00
3  2000-01-06  HDFCBANK     EQ      166.95  168.00  170.00  165.30  168.95
4  2000-01-07  HDFCBANK     EQ      168.30  162.15  171.00  162.15  170.75

    Close    VWAP  Volume      Turnover  Trades  Deliverable Volume  \
0  170.00  169.52   33259  5.638122e+11     NaN                 NaN
1  173.80  174.99  168710  2.952261e+12     NaN                 NaN
2  166.95  169.20  159820  2.704094e+12     NaN                 NaN
3  168.30  168.44   85026  1.432166e+12     NaN                 NaN
4  168.35  166.79   85144  1.420158e+12     NaN                 NaN

   %Deliverble
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [6]:
anotherDf = df.head(10)
data = []
for index, item in anotherDf.iterrows():
    currentDict = {}
    for column in columns:
        currentDict[column] = item[column]
    data.append(currentDict)

for oneData in data:
    print('Data - ', oneData)

Data -  {'Date': '2000-01-03', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 157.4, 'Open': 166.0, 'High': 170.0, 'Low': 166.0, 'Last': 170.0, 'Close': 170.0, 'VWAP': 169.52, 'Volume': 33259, 'Turnover': 563812250000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-04', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 170.0, 'Open': 182.0, 'High': 183.45, 'Low': 171.0, 'Last': 174.0, 'Close': 173.8, 'VWAP': 174.99, 'Volume': 168710, 'Turnover': 2952261350000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-05', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 173.8, 'Open': 170.0, 'High': 173.9, 'Low': 165.0, 'Last': 168.0, 'Close': 166.95, 'VWAP': 169.2, 'Volume': 159820, 'Turnover': 2704093975000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-06', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 166.95, 'Open': 168.0, 'High': 170.0, 'Low': 165.3, 'Last': 168.95, 'Close': 168.3, 'VWAP': 168.44, 'Volume': 85026, 'Turnover': 1432165990000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-07', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 168.3, 'Open': 162.15, 'High': 171.0, 'Low': 162.15, 'Last': 170.75, 'Close': 168.35, 'VWAP': 166.79, 'Volume': 85144, 'Turnover': 1420157785000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-10', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 168.35, 'Open': 172.9, 'High': 179.5, 'Low': 165.0, 'Last': 166.3, 'Close': 165.9, 'VWAP': 167.79, 'Volume': 100434, 'Turnover': 1685217295000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-11', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 165.9, 'Open': 166.5, 'High': 167.9, 'Low': 157.0, 'Last': 163.0, 'Close': 163.4, 'VWAP': 161.4, 'Volume': 145784, 'Turnover': 2352906750000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-12', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 163.4, 'Open': 163.75, 'High': 167.95, 'Low': 162.3, 'Last': 165.1, 'Close': 165.45, 'VWAP': 163.89, 'Volume': 85952, 'Turnover': 1408657535000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-13', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 165.45, 'Open': 169.9, 'High': 169.9, 'Low': 165.0, 'Last': 165.95, 'Close': 165.1, 'VWAP': 165.26, 'Volume': 48276, 'Turnover': 797787115000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}
Data -  {'Date': '2000-01-14', 'Symbol': 'HDFCBANK', 'Series': 'EQ', 'Prev Close': 165.1, 'Open': 168.0, 'High': 168.0, 'Low': 164.0, 'Last': 166.0, 'Close': 165.45, 'VWAP': 164.68, 'Volume': 58152, 'Turnover': 957654390000.0, 'Trades': nan, 'Deliverable Volume': nan, '%Deliverble': nan}

In [11]:
# Get a specific row
print(df.iloc[2])
print(df.iloc[2][2])
count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns
print(count_row, count_col)

Date                       2000-01-05
Symbol                       HDFCBANK
Series                             EQ
Prev Close                      173.8
Open                            170.0
High                            173.9
Low                             165.0
Last                            168.0
Close                          166.95
VWAP                            169.2
Volume                         159820
Turnover              2704093975000.0
Trades                            NaN
Deliverable Volume                NaN
%Deliverble                       NaN
Name: 2, dtype: object
EQ
5306 15

In [19]:
# 5 highest open prices
df['Open'].nlargest(n=5)
df.sort_values(by=['Open'], ascending=False).head(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
2877,2011-07-08,HDFCBANK,EQ,2565.80,2566.00,2583.30,2553.70,2561.80,2559.15,2570.70,754468,1.939511e+14,65398.0,530894.0,0.7037
2878,2011-07-11,HDFCBANK,EQ,2559.15,2559.00,2564.10,2515.10,2523.00,2524.35,2536.21,397250,1.007509e+14,15627.0,232672.0,0.5857
2876,2011-07-07,HDFCBANK,EQ,2545.30,2546.10,2574.95,2534.15,2563.00,2565.80,2562.26,738902,1.893257e+14,37884.0,467736.0,0.6330
2872,2011-07-01,HDFCBANK,EQ,2515.55,2540.00,2547.60,2478.00,2501.35,2501.25,2497.60,665242,1.661511e+14,40875.0,422812.0,0.6356
2695,2010-10-18,HDFCBANK,EQ,2386.25,2539.90,2539.90,2353.00,2420.00,2398.45,2379.04,827510,1.968683e+14,NaN,532139.0,0.6431
2873,2011-07-04,HDFCBANK,EQ,2501.25,2535.00,2542.00,2512.40,2536.00,2532.20,2528.72,716168,1.810986e+14,43799.0,477573.0,0.6668
2875,2011-07-06,HDFCBANK,EQ,2541.15,2535.00,2560.00,2515.00,2543.10,2545.30,2546.47,589287,1.500601e+14,35136.0,345831.0,0.5869
2874,2011-07-05,HDFCBANK,EQ,2532.20,2522.00,2552.00,2514.50,2542.00,2541.15,2530.96,531864,1.346124e+14,29486.0,345861.0,0.6503
2879,2011-07-12,HDFCBANK,EQ,2524.35,2510.00,2510.00,2460.20,2473.30,2479.75,2481.53,736090,1.826633e+14,31673.0,390591.0,0.5306
2685,2010-10-04,HDFCBANK,EQ,2500.75,2500.75,2522.60,2483.20,2484.20,2494.00,2496.23,699023,1.744925e+14,NaN,425480.0,0.6087